<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
	<div class="header"> 
		<img class="logo" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQCbEQZ6R4sXcZ3MXOFHFQc07fx0xAp_cAoMRk0hNqhENR1WL2-"> 
		</div>
	<div class="navBar">
		<ul>
			<li><a href="#">Story</a></li>
			<li><a href="#">Menu</a></li>
			<li><a href="#">Reservations</a></li>
			<li><a href="#">Labeled</a></li>
		</ul>
	</div>
	<div class="responsive">
		<div class="mainImage">
		</div>
		<div class="mainContainer">
			<div id="apiDivs">
				<div class="newsApi">
					<h3>Latest News</h3>
				</div>
				<div class="specialsDiv">
				<h3>Today's Specials</h3>
				</div>
				<div class="locationsDiv">
					<iframe id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3221.3355902079024!2d-115.15467894947072!3d36.158387479988036!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c8c39ab244a1cb%3A0xd0b332727ed859dc!2s1112+S+Casino+Center+Blvd%2C+Las+Vegas%2C+NV+89104!5e0!3m2!1sen!2sus!4v1446084095351" width="250" height="161" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
			</div>
		<div class="container2">
			<div class="menu">
				<h3>Put the menu API here</h3>

			</div>
			<div class="staticDivs">
				<h3 class="a1Text">Food Photos...</h3>
				<div class="img">
					<img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQCbEQZ6R4sXcZ3MXOFHFQc07fx0xAp_cAoMRk0hNqhENR1WL2-">
				</div>
				<div class="img">
					<img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQCbEQZ6R4sXcZ3MXOFHFQc07fx0xAp_cAoMRk0hNqhENR1WL2-">
				</div>
				<div class="img">
					<img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQCbEQZ6R4sXcZ3MXOFHFQc07fx0xAp_cAoMRk0hNqhENR1WL2-">
				</div>
			</div>
		</div>
			<div class="testimonials">
			<img class="custTest" src="https://i.ytimg.com/vi/A11XKY5pFR0/maxresdefault.jpg">
			<img class="custTest" src="http://data.whicdn.com/images/72387409/superthumb.jpg">
			<img class="custTest" src="https://feralbotanicals.files.wordpress.com/2012/03/cleaverkids.jpg">
				<h2>Testimonials</h2>
			</div>
	</div>
	