html {
box-sizing:border-box;
}
*, *:before, *:after {
box-sizing:inherit;
}
.header {
	background:black;
}
.logo {
	display:block;
	margin:0 auto;
	height:auto;
	padding-top:20px;

}

.navBar {
	height:70px;
	line-height: 70px;
	padding-bottom:20px;
	background:#89DA59;

}

.navBar ul {
margin:0 auto;
padding:0;
display:flex;
justify-content:space-around;


}

.navBar a {
	color: white;
	font-family: 'Open Sans Condensed', sans-serif;
	text-decoration:none;
	font-size: 24px;
}

.navBar li {
	text-align: center;
	list-style-type: none;
	width:100px;

}

.navBar li:hover {
	background: #F98866;
	height:70px;
}

.responsive {
	display: inline-block;
	position: relative;
	width: 100%;
}

div.mainImage {
	display:block;
	content: url(https://cdn0.vox-cdn.com/uploads/chorus_image/image/50580067/2015-06-18-cassia-007.0.0.jpg); 
	background-size:cover;
	height:300px;
	width:100%;

}

.mainContainer {
	display: inline-block;
	position: relative;
	width: 100%;
	border:1px solid green;
	/*margin-top:20px;*/
}


#apiDivs {
	margin-top:20px;
	display:flex;
	justify-content:space-between;
	flex-wrap: wrap;
	align-content: center;
	width:70%;
	float:left;
}
.specialsDiv {
	width:250px;
	height:161px;
	border:1px solid black;
}
.newsApi {
	width:250px;
	height:161px;
	border:1px solid black;

}
.container2 {
	display: inline-block;
	position: relative;
	width: 100%;
	border:1px solid green;
	margin-top:20px;
}

.menu {
	float:left;

}

.staticDivs {
margin-top: 20px;
float:right;
flex-display:column;
}

.testimonials {
	width:100%
	height:auto;
	display:flex;
	justify-content: space-around;
}

.custTest {
	height:200px;
	width:200px;
}

margin-top: 20px;
float:right;
flex-display:column;
}