html {
box-sizing:border-box;
}
*, *:before, *:after {
box-sizing:inherit;
}
.header {
	background:transparent;
}
.logo {
	display:block;
	margin:0 auto;
	height:auto;


}

.navBar {
	height:70px;
	line-height: 70px;
	padding-bottom:20px;
	background:#89DA59;

}

.navBar ul {
margin:0 auto;
padding:0;
display:flex;
justify-content:space-around;


}

.navBar a {
	color: white;
	font-family: 'Open Sans Condensed', sans-serif;
	text-decoration:none;
	font-size: 24px;
}

.navBar li {
	text-align: center;
	list-style-type: none;
	width:100px;

}

.navBar li:hover {
	background: #F98866;
	height:70px;
	width:200px;
}

.responsive {
	position: relative;
	width: 100%;
	background:#ccc;
}

div.mainImage {
	height:300px;
	width:100%;
	display:flex;

}

.mimg {
	width:30%;
}


.mainContainer {
	width: 100%;
	margin-top:20px;
	height:300px;
	background: black;
}


#apiDivs {
	margin-top:20px;
	display: flex;
	justify-content: space-around;
	flex-direction: row;

}
.specialsDiv {
	width:32%;
	height:300px;

}
.newsApi {
	width:32%;
	height:300px;
	

}

.locationsDiv {
	width:32%;
	height:300px;
}
#map{
	height:300px;
}
.container2 {
	display: inline-block;
	position: relative;
	width: 100%;
	margin-top:20px;
	font-family: 'Open Sans Condensed', sans-serif;
	background: #ccc;
}

.menu {
	float:left;


}

.staticDivs {
margin-top: 20px;
float:right;
flex-display:column;
font-family: 'Open Sans Condensed', sans-serif;
}

.img1 {
	display:block;
/*	max-width:50px;
	max-height:50px;*/

}
.img2 {
	display:block;
/*	max-width:50px;
	max-height:50px;*/

}
.img3 {
	display:block;
/*	max-width:50px;
	max-height:50px;*/

}

.a1Text {
	margin-left: 35%;
	margin-right: 20%;
}

.testimonials {
	width:100%;
	height:auto;
	display:flex;
	justify-content: space-around;
	background: black;

}
.testHeader {
	background:#ccc;
}

.custTest {
	height:200px;
	width:200px;
	font-family: 'Open Sans Condensed', sans-serif;
}

.testTextDiv {
	width:100%;
	height:auto;
	display:flex;
	justify-content: space-around;
	background: black;
}

.customers {
	width:200px;
	height:200px;
	font-family: 'Open Sans Condensed', sans-serif;
	color:white;

}
