html {
box-sizing:border-box;
font-family: 'Open Sans Condensed', sans-serif;
}
*, *:before, *:after {
box-sizing:inherit;
}
.header {
	background:transparent;
}
.logo {
	display:block;
	margin:0 auto;
	height:200px;


}

.pages {

	float:left;
	height:auto;
	width:45%;
}
.navBar {
    height:70px;
    line-height: 70px;
    padding-bottom:20px;
    background:#89DA59 ;

}

.navBar ul {
margin:0 auto;
padding:0;
display:flex;
justify-content:space-around;


}
.navBar a {
    color: white;
    text-decoration:none;
    font-size: 24px;

}
.navBar li:hover {

    background: #ccc ;
    height:70px;
    width:200px;
    text-align:center;
}
.insideImg{
	width:100%;
	height:400px;
	background-image: url("https://cdn3.vox-cdn.com/uploads/chorus_asset/file/7843291/2016_12_15_MarVista_006.0.jpg");
		background-position:right center;
}

