html {
box-sizing:border-box;
font-family: 'Open Sans Condensed', sans-serif;
}
*, *:before, *:after {
box-sizing:inherit;
}


.header {
	background:white;
}

.logo {
	display:block;
	margin:0 auto;
	height:200px;
    background-color: white;
}

.pages {

    float: left;
    width: 63%;
    height: 480px;
    margin-left: 35px;
    margin-top: 31px;
    border-radius: 4px;
    box-shadow: 6px 8px 15px #888888;
    overflow:auto;

}

.navBar {
    height:70px;
    line-height: 70px;
    padding-bottom:20px;
    background:#9ED2AC ;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.navBar ul {
    margin:0 auto;
    padding:0;
    display:flex;
    justify-content:space-around;

}
.navBar a {
    color: white;
    text-decoration:none;
    font-size: 24px;

}

.navBar a:hover {
     color: #2E8746;

}

.insideImg{
	width:100%;
	height:400px;
	background-image: url("https://cdn3.vox-cdn.com/uploads/chorus_asset/file/7843291/2016_12_15_MarVista_006.0.jpg");
	background-position:right center;
    margin-bottom: 30px;
    box-shadow: 0px 8px 15px #888888;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.apiDivs{
    height: 368px;
	padding:5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin-bottom: 25px;
    border-radius: 3px;
    border:1px solid #2E8745;
    
}
.newsDiv{
	width:30%;
    height: 300px;
	color:black;
	overflow:auto;
    border:0px solid black;
    border-radius: 3px;
    box-shadow: 0px 8px 15px #888888;
}

.specialDiv{
	width:30%;
    height: 300px;
	color:black;
    text-align: center;
    border-radius: 3px;
    border:0px solid black;
    box-shadow: 0px 8px 15px #888888;
}


.staticDivs{
	width:23%;
    margin-right: 32px;
    height: 799px;
	float:right;
    text-align: center;
    border-radius: 3px;
    border:1px solid #2E8745;

}

.staticDivs img{
    width: 250px;
    height: 200px;
    margin-top: 10px;
    border: 0px solid black;
    border-radius: 3px;
    box-shadow: 0px 8px 15px #888888;
}

.testimonials {
    width:100%;
    height: 1225px;
}
.testDiv {
    width: 100%;
    padding-top: 109px;
    display: flex;
    justify-content: space-around;
    margin-left: -3px;
}

.custTest {
    height: 100px;
    width: 100px;
}


.testTextDiv {
    width: 92%;
    margin-left: 52px;
    height: 150px;
    display:flex;
    justify-content: space-around;
    background: #80C492;
    margin-top: 10px;
    border-radius: 2px;
    margin-bottom: 10px;
    box-shadow: 0px 8px 15px #888888;
}

.customers {
    width:200px;
    height:156pxpx;
    color:white;
}

.mapDiv{
    border:0px solid black;
    border-radius: 3px;
    box-shadow: 0px 8px 15px #888888;
}

.storyDiv, img{
    border-radius: 2px;
    box-shadow: 0px 8px 15px #888888;
}

.reservations{
    margin-top: 34px;
    
}

.res{
    height: 486px;
    margin-top: -35px;
    border-radius: 8px;
    background: #80C492;
}

#storyDiv{
    height: 400px;
}



